<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrqq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Thymeleaf in action</title>
        <link rel="stylesheet" href="css/header.css">
    </head>
    <body>
        <div th:fragment="footer">
            <div class="footer">
                <div class="w">
                    <div class="links">
                        <a class="link" href="https://github.com/adXiang" target="_blank">GitHub</a> |
                        <a class="link" href="https://www.jianshu.com/u/a4185abab921" target="_blank">简书</a> |
                        <a class="link" href="https://weibo.com/p/1005055643096091" target="_blank">微博</a> |
                        <a class="link" href="https://www.toutiao.com/c/user/23876078981/" target="_blank">头条</a>
                    </div>
                    <p class="copyright">
                        Copyright © 2020 lsc.top All Right Reserved
                    </p>
                </div>
            </div>

            <script type="text/javascript" src="../../js/test/jquery.form.min.js" th:src="@{/js/test/jquery.form.min.js}"></script>
            <script type="text/javascript" src="../../js/test/tether.min.js" th:src="@{/js/test/tether.min.js}"></script>
            <script type="text/javascript" src="../../js/test/bootstrap.min.js" th:src="@{/js/test/bootstrap.min.js}"></script>
            <script type="text/javascript" src="../../js/test/nprogress.js" th:src="@{/js/test/nprogress.js}"></script>
            <script type="text/javascript" src="../../js/test/thinker-md.vendor.min.js" th:src="@{/js/test/thinker-md.vendor.min.js}"></script>
            <script type="text/javascript" src="../../js/test/bootstrap-tagsinput.js" th:src="@{/js/test/jquery.tagsinput.min.js}"></script>
            <script type="text/javascript" src="../../js/test/chosen.jquery.js" th:src="@{/js/test/chosen.jquery.js}"></script>
            <script type="text/javascript" src="../../js/test/toastr.min.js" th:src="@{/js/test/toastr.min.js}"></script>
            <script type="text/javascript" src="../../js/test/cropbox.js" th:src="@{/js/test/cropbox.js}"></script>
            <script type="text/javascript" src="../../js/test/thymeleaf-bootstrap-paginator.js" th:src="@{/js/test/thymeleaf-bootstrap-paginator.js}"></script>
            <script type="text/javascript" src="../../js/test/catalog-generator.js" th:src="@{/js/test/catalog-generator.js}"></script>

        </div>
    </body>
</html>

