<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="container">
 
<form th:action="@{/manage/book}" method="post" th:object="${bookModel.book}" id="bookForm" enctype="multipart/form-data">
	<input type="hidden" name="bid" th:value="*{bid}">
	
	<div class="form-group ">
		<label for="bname" class="col-form-label">书名</label>
		<input type="text" class="form-control" id="bname" name="bname"  th:value="*{bname}" maxlength="50" placeholder="请输入图书名称">
	</div>
	<div class="form-group">
		<label for="author" class="col-form-label">作者</label>
		<input type="text" class="form-control" id="author" name="author" th:value="*{author}" maxlength="50" placeholder="请输入图书作者">
	</div>
	<div class="form-group">
		<label for="price" class="col-form-label">价格</label>
		<input type="text" class="form-control" id="price" name="price" th:value="*{price}" maxlength="20" placeholder="请输入价格" >
	</div>
	<div class="form-group">
		<label for="press" class="col-form-label">出版社</label>
		<input type="text" class="form-control" id="press" name="press"  th:value="*{press}" maxlength="30" placeholder="请输入图书出版社" >
	</div>
	<div class="form-group">
		<label for="publishtime" class="col-form-label">出版时间</label>
		<input type="text" class="form-control" id="publishtime" name="publishtime"  th:value="*{publishtime}" maxlength="30" placeholder="请输入图书出版时间" >
	</div>
	<div class="form-group">
		<label for="popular" class="col-form-label">推荐指数</label>
		<input type="number" class="form-control" id="popular" name="popular"  th:value="*{popular}" maxlength="30" placeholder="请输入图书推荐指数" >
	</div>
	<div class="form-group">
		<label for="edition" class="col-form-label">版次</label>
		<input type="text" class="form-control" id="edition" name="edition"  th:value="*{edition}" maxlength="30" placeholder="请输入图书版次" >
	</div>
	<div class="form-group">
		<label for="details" class="col-form-label">详细</label>
		<input type="text" class="form-control" id="details" name="details"  th:value="*{details}" placeholder="请输入图书详细介绍" >
	</div>
	<div class="form-group">
		<label for="categoryId" class="col-form-label">分类</label>
		<select id="categoryId" name="categoryId" class="form-control form-control-chosen" data-placeholder="请选择">
			<option th:each="category:${categoryList}"  th:value="${category.id}" th:text="${category.cname}"></option>
		</select>
	</div>
	<div class="form-group">
		<label for="password" class="col-form-label">图书列表图：</label>
		<input type="file" name="file"/>
	</div>
	<div class="form-group">
		<label for="password" class="col-form-label">图书详情图片：</label>
		<input type="file" name="file"/>
	</div>
</form>

</div>
<!-- /.container -->